In [1]:
#Time Series Forecasting
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
f_birth = pd.read_csv("C:/Users/prade/OneDrive/Desktop/Python/projects/Datasets/Time Series/daily-total-female-births-in-cal.csv")
f_birth.head()

         Date  Daily total female births in California, 1959
0  1959-01-01                                             35
1  1959-01-02                                             32
2  1959-01-03                                             30
3  1959-01-04                                             31
4  1959-01-05                                             44